<div class="nav">
      <li>
        <a href="News.html">News</a>
      </li>
      <li>
        <a href="Research.html">Research</a>
        <div class="hide">
          <a href="plass.html">PLaSS</a>
          <a href="Publications.html">Publications</a>
        </div>
      </li>
      <li>
        <a href="Teaching.html">Teaching</a>
        <div class="hide">
          <a href="Teaching.html#current">Current</a>
          <a href="Teaching.html#past">Past</a>
        </div>
      </li>
      <li>
        <a href="#">More</a>
        <div class="hide">
          <a href="Activities.html">Activities</a>
          <a href="Awards.html">Awards</a>
          <a href="Funding.html">Funding</a>
        </div>
      </li>
</div>