<!DOCTYPE html>
<html class="index"lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">
    <title>Mike Bond</title>
  </head>
  <body class="index">
    <span id=logo><a href="#">Mike Bond</a></span>
    <div class="title">
    </div>
    <div class="nav">
      <li>
        <a href="code/News.html">News</a>
      </li>
      <li>
        <a href="code/Research.html">Research</a>
        <div class="hide">
          <a href="code/plass.html">PLaSS</a>
          <a href="code/Publications.html">Publications</a>
        </div>
      </li>
      <li>
        <a href="code/Teaching.html">Teaching</a>
        <div class="hide">
          <a href="code/Teaching.html#current">Current</a>
          <a href="code/Teaching.html#past">Past</a>
        </div>
      </li>
      <li>
        <a href="#">More</a>
        <div class="hide">
          <a href="code/Activities.html">Activities</a>
          <a href="code/Awards.html">Awards</a>
          <a href="code/Funding.html">Funding</a>
        </div>
      </li>
    </div>
    <div class="profile">
      <img src="images/mike.jpeg" alt="">
      <h2 class="tableTitle">Michael D. Bond</h2>
      <h3 class="tableTitle">Associate Professor @ The Ohio State University</h3>
      <p>Department of Computer Science and Engineering</p>
      <p>697 Dreese Labs</p>
      <a href="mailto:mikebond@cse.ohio-state.edu">mikebond@cse.ohio-state.edu</a>
    </div>
  </body>
</html>
